<header>
    <h1><a href="{{ "/" }}">{{ site.title | default: site.github.repository_name }}</a></h1>
    

    <img src="../assets/img/will_circle21.jpg" alt="Logo" width = 100% />


    <p>{{ site.description | default: site.github.project_tagline }}</p>

    <nav>
        <a href="/">Home</a> |
        <a href="/posts/">Posts</a> |
        <a href="/resume/">Resume</a>
    </nav>
    <div class="email">
        <a href="mailto:{{ site.email }}"><small>{{ site.email }}</small></a>
    </div>

</header>